<!DOCTYPE html>
<html>
<head>
    <title>Simple Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="search-container">
        <form action="/" method="get">
            <input type="text" name="query" placeholder="Enter search terms..." autofocus>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="results-container">
        {% for url, snippet in relevant_docs %}
            <div class="result-item">
                <a href="{{ url }}" target="_blank">{{ url }}</a>
                <p>{{ snippet }}</p>
            </div>
        {% else %}
            <p class='no-results-found'>No results found.</p>
        {% endfor %}
    </div>
</body>
</html>
