<!DOCTYPE html>
<html>
<head>
    <title>Cal Poly Pomona Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="search-container">
        <form action="/" method="get">
            <input type="text" name="query" placeholder="Enter search terms..." autofocus>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="results-container">
        {% if relevant_docs %}
            {% for url, score, snippet in relevant_docs %}
                <div class="result-item">
                    <a href="{{ url }}" target="_blank">{{ url }}</a>
                    <p>{{ snippet }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class='no-results-found'>No results found.</p>
        {% endif %}
    </div>
</body>
</html>
